### Append Path

In [4]:
import sys

sys.path.append("..")

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Load Data

In [5]:
from src.loader import load_data

file_paths = [
    "../data/raw/Solar_Energy_Generation.csv",  # 0: Base Table
    "../data/raw/Weather_Data_reordered_all.csv",  # 1: Weather
    "../data/raw/Solar_Site_Details.csv",  # 2: Site Details
]

df_list = load_data(file_paths)

if len(df_list) == 3:
    df_generation, df_weather, df_details = df_list

    print("\nLoad Successful.")
else:
    print("\nLoad Failed.")

Loaded ../data/raw/Solar_Energy_Generation.csv | Shape: (2731946, 4)
Loaded ../data/raw/Weather_Data_reordered_all.csv | Shape: (371769, 8)
Loaded ../data/raw/Solar_Site_Details.csv | Shape: (42, 10)

Load Successful.

### Merge Data

In [6]:
from src.loader import merge_df

df_merged = merge_df(df_generation, df_weather, df_details)

print("\nMerge Successful.")
print(f"Merged DataFrame Shape: {df_merged.shape}")

df_merged.to_csv("../data/processed/merged_data.csv", index=False)
print("\nMerged data saved.")

df_merged.head()

Merge Starting. Base Shape: (2731946, 4)
After Merging Weather Data: (2731946, 10)
After Merging Site Details: (2731946, 18)

Merge Successful.
Merged DataFrame Shape: (2731946, 18)

Merged data saved.

,CampusKey,SiteKey,Timestamp,SolarGeneration,ApparentTemperature,AirTemperature,DewPointTemperature,RelativeHumidity,WindSpeed,WindDirection,kWp,Number of panels,Panel,Inverter,Optimizers,Metric,lat,Lon
0,2,1,2020-01-01 00:15:00,NaN,18.560000,20.300000,9.600000,50.266667,8.680000,152.666667,NaN,NaN,NaN,NaN,NaN,NaN,-36.111209,146.848679
1,2,1,2020-01-01 00:30:00,NaN,18.146667,19.840000,9.340000,50.666667,7.933333,157.533333,NaN,NaN,NaN,NaN,NaN,NaN,-36.111209,146.848679
2,2,1,2020-01-01 00:45:00,NaN,18.140000,19.886667,9.486667,51.000000,8.440000,147.600000,NaN,NaN,NaN,NaN,NaN,NaN,-36.111209,146.848679
3,2,1,2020-01-01 01:00:00,NaN,17.693333,19.540000,9.180000,51.133333,8.680000,151.333333,NaN,NaN,NaN,NaN,NaN,NaN,-36.111209,146.848679
4,2,1,2020-01-01 01:15:00,NaN,17.613333,19.153333,9.053333,51.933333,6.866667,149.333333,NaN,NaN,NaN,NaN,NaN,NaN,-36.111209,146.848679